* {
  font-family: 'Comic Neue', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  min-height: 100vh;
  background: #1b262c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.intro__left {
  width: 40%;
}

.intro__right {
  width: 40%;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.4rem;
  margin: 2rem 0;
}

a {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  padding: 10px 30px;
}

@media only screen and (max-width: 1080px) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 720px) {
  body {
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .intro__right img {
    width: 200px;
  }
  .intro__left {
    width: 100%;
  }
  .intro__right {
    width: 100%;
  }
}
